diff.css
diff.html
main.js
Maxat.css
Maxat.html
package.json
styles.css
.idea/.gitignore
.idea/html_learning.iml
.idea/modules.xml
Game/clickme.jpg
Game/eight.png
Game/five.jpg
Game/four.png
Game/index.html
Game/one.png
Game/rainboy.jpg
Game/script.js
Game/seven.png
Game/six.png
Game/style.css
Game/three.jpg
Game/two.jpg
Lab 6/down-left.jpg
Lab 6/down-right.jpg
Lab 6/down.jpg
Lab 6/hover.png
Lab 6/index.html
Lab 6/left.jpg
Lab 6/right.jpg
Lab 6/script.js
Lab 6/straight.jpg
Lab 6/styles.css
Lab 6/up-left.jpg
Lab 6/up-right.jpg
Lab 6/up.jpg
Lab Forms/create-post.php
Lab Forms/get_posts.php
Lab Forms/index.html
Lab Forms/login.php
Lab Forms/register.php
Lab Forms/script.js
Lab Forms/style.css
Lab-DOM/bas-img.jpeg
Lab-DOM/cal-img.jpg
Lab-DOM/cal.jpg
Lab-DOM/football.png
Lab-DOM/hasbik.jpg
Lab-DOM/index.html
Lab-DOM/script.js
Lab-DOM/style.css
Lab-DOM/ten-img.jpg
Lab-DOM/vol-img.jpg
Lab-js/Bday.js
Lab-js/Lab4.html
Lab1/awful.png
Lab1/index.css
Lab1/index.html
Lab2/Lab2.css
Lab2/Lab2.html
Lab2/Mountain.webp
Lab3/Bootstrap.html
Lab3/Lab3.css
Lab3/Lab3.html
Last Lab/index.html
Last Lab/login.php
Last Lab/register.php
Last Lab/script.js
Last Lab/style.css
test/one.png
test/test.css
test/test.html
test/test.js
test/two.jpg
