@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html
{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #f2fdfd 20%, #ddc2e4 51%, #fdffbb 75%, #c4b5ff 85%, #ffc3f5 95%, #f2fdfd 100%);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    text-decoration: none;
}

.head{
    height: 100px;
    padding-top: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

/*burger*/
.nav
{
    font-size: 30px;
    width: 100%;
    display: none;
    float: right;
    margin-right: 5px;
}

#burger
{
    float: right;
}

#toggle
{
    display: none;
}




/*burger*/


.head h1{
    font-size: 40px;
}
.head h3{
    font-size: 22px;
}
.head ul li{
    cursor: pointer;
    font-size: 22px;
    list-style: none;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    padding-left: 5px;
}
.head ul li a{
    color: black;
    text-decoration: none;
}
.topmenu li a:hover { 
    color: black; 
}
.submenu {
  background: white;
  border: 2px solid #003559;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
  color: black;
  font-size: 15px;
  line-height: 30px;
  padding: 0 25px;
  font-family: 'Poppins', serif;
}

.text{
    overflow: hidden;
}
.text h1{
    font-weight: bold;
    font-size: 140px;
    transition: 0.2s linear;
}
.text h5{
    font-weight: bold;
    color: #fad900;
    font-size: 28px;
          text-shadow: black 1px 0 10px;
}
.text .text1{
    height: 170px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.text .text1 h1{
    padding-left: 80px;
}
.text .text1 h5{
    padding-top: 60px;
    padding-right: 380px;
}
.text .text2{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.text .text2 h1{
    padding-right: 136px;
}
.text .text2 h5{
    padding-top: 40px;
    padding-left: 185px;
}
.text .text2{
    height:140px;
}
.text .text3 h1{
    padding-top: 30px;
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.5px black;
}
.text .text3 #pic{
    width: 500px;
    height: 300px;
    padding-left: 700px;
}
.new h1{
    font-size: 130px;
}
.new h2{
    font-size: 45px;
}
.new .first{
    padding-left: 350px;
    display: flex;
}
.new .first h2{
    padding-left: 10px;
    padding-top: 24px;
}
.new .second{
    padding-left: 100px;
    display: flex;
    padding-top: 38px;
}
.new .second h2{
    padding-top: 23px;
    padding-left: 15px;
}
.new .third{
    padding-left: 500px;
    display: flex;
    padding-top: 38px;
}
.new .third h2{
    padding-top: 25px;
    padding-left: 15px;
}
.new .fourth{
    padding-left: 150px;
    display: flex;
    padding-top: 38px;
}
.new .fourth h2{
    padding-top: 25px;
    padding-left: 15px;
}
.new .fifth{
    padding-left: 550px;
    display: flex;
    padding-top: 38px;
}
.new .fifth h2{
    padding-top: 65px;
    padding-left: 15px;
}
.new1 h1{
    font-size: 170px;
    text-align: center;
}
.new1 #wed{
    text-align: center;
    font-size: 220px;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 0.5s;
    transition: width 2s, height 2s, background-color 2s, transform 0.5s;
}
.new2 #photo{
    margin-top: -200px;
    text-align: center;
    font-size: 220px;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 0.5s;
    transition: width 2s, height 2s, background-color 2s, transform 0.5s;
    }
.pulse-button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    padding: 10px;
    border: none;
    background: black;
    position: absolute;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    outline: none;
    z-index: 1000;
    color: white;
}
.pulse-button-ring{
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    border-radius: 50%;
    animation-duration: 2.0s;
    animation-name: pulse_1;
    animation-iteration-count: infinite;
    z-index: -1;
}
@keyframes pulse_1 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 1;
        transform: scale(1.5, 1.5);
    }
}
.pulse-button-ph{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: none;
    background: white;
    position: absolute;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    outline: none;
    z-index: 1000;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.pulse-button-ring-ph{
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    border-radius: 50%;
    animation-duration: 2.0s;
    animation-name: pulse_1;
    animation-iteration-count: infinite;
    z-index: -1;
}
.pulse-button-ph a{
    text-decoration: none;
    color: black;
}
/*ползунок для сайта, можно стилизовать в конце*/
::-webkit-scrollbar {
    width: 7px;
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 9em;
}

.grid-container-1 {
    margin: 0 50px 0 50px;
    display: grid;
    grid-template-areas:
'emty1 img1 img1 emty2'
'emty1 img1 img1 emty2'
'img2 img2 img3 img3'
'img2 img2 img3 img3'
'emty3 img4 img4 emty4'
'emty3 img4 img4 emty4';
    column-gap: 100px;
    row-gap: 10px;
}
.item-1-1 { grid-area: emty1; text-align: center;}
.item-1-2 {
    grid-area: img1;
    text-align: center;
    position: relative;
    background:url("https://static.tildacdn.com/tild3436-3538-4132-b739-646431306232/DSC00537.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 544px;
}
.item-1-3 {
    grid-area: emty2;
    text-align: center;}
.item-1-4 {
    grid-area: img2;
    text-align: center;
    position: relative;
    background:url("https://static.tildacdn.com/tild6134-3036-4336-a361-373433313064/wedd_2.jpg");
    background-size: 100% 100%;
    width: 80%;
    margin-left: 20%;
    height: 315px;
}
.item-1-5 {
    grid-area: img3;
    text-align: center;
    position: relative;
    background:url("https://static.tildacdn.com/tild3936-3865-4237-b765-316335306131/wedd_3__.jpg");
    background-size: 100% 100%;
    width: 80%;
    margin-right: 20%;
    height: 315px;
}
.item-1-6 { grid-area: emty3; text-align: center;}
.item-1-7 {
    grid-area: img4;
    text-align: center;
    position: relative;
    background:url("https://static.tildacdn.com/tild3134-3133-4636-a433-623961396636/59976484_44686983274.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 360px;
}
.item-1-8 { grid-area: emty4; text-align: center;}
.over
{
    font-family: "Droid Sans Mono", sans-serif;
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background : rgb(0,0,0,0.7);*/
    color : #ffffff;
    opacity : 0;
    transition : opacity 1s;
}
.over:hover
{
    box-shadow: 0 0 80px rgb(255, 255, 255);
    transition: 0.8s;
    opacity: 1;
}
.over > *
{
    transform: translateY(20px);
    transition: transform 0.9s ;
}
.over:hover > *
{
    transform: translateY(0);
}
.des
{
    user-select: none;
    color: rgb(219, 7, 56);
    font-weight: bold;
    margin-top: 1px;
    font-size: 20px;
}
.title
{
    user-select: none;
    color: white;text-align: center;
    font-weight: bold;
    font-size: 30px;
}
div{
    border: 1px solid red;
}
.new1{
    top: -200px;
    z-index: -1;
}
.smth{
     box-sizing: border-box;
       display: flex;
}
.smth h1{
    width: 1900px;
    padding-top: 55px;
    font-size: 150px;
    padding-left: 140px;
     line-height: 140px;
}
.btn h1{
    display: none;
}

      .btn button {
        margin-top: 20px;
        margin-left: 20px;
        width: 280px;
        height: 280px;
        border: none;
        border-radius: 200px;
        outline: none;
        background: white;
        color: black; 
        font-weight: bold;
        font-size: 35px;
        cursor: pointer;
        box-shadow: 0 5px 20px black;
      }
      .btn button:hover {
        background: black;
        color: white;
      }

.textph{
    box-sizing: border-box;
    display: flex;
}
.textph img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: 230px;
}
.textph h1{
    font-size: 65px;
    text-align: center;
}
.texttt{
    text-align: center;
}
    .texttt h1{
        font-size: 50px;
        padding-top: 20px;
  text-align: center;
    }
    .texttt ul li{
         padding-top: 30px;
        display: inline-block;
        cursor: pointer;
    font-size: 18px;
    list-style: none;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    padding-left: 5px;
    }
    .texttt ul li a{
        color: black;
    text-decoration: none;
    }


@media only screen and (max-width: 900px) {

/*burger*/
    .nav
    {
        display: initial;
    }

    #burger
    {
        cursor: pointer;
    }

    .head
    {
        display: none;
    }

    #toggle:checked + .head
    {
        display: flex;
        justify-content: space-between;
    }
/*burger    */

    .img-set-1{
        display: inline;
        margin: auto auto;
    }
    .img-set-1 div{
        align-items: center;
        width: 100%;
    }
    .img-set-2, .img-set-3{
        margin-left: 0;
    }
    .img-set-4{
        display: inline;
    }
    .img-set-4 #ph1{
        padding-left: 25px;
    }
    .img-set-4 #ph2{
        padding-left: 190px;
    }
    .img-set-5 {
      margin-left: -35px;
    }
    .img-set-6{
        display: inline;
    }
    .img-set-6 #ph3{
        padding-left: 100px;
    }
    .img-set-6 #ph4{
        padding-left: 95px;
    }
    .img-set-7{
        margin-left: -90px;
    }
 }

@media (max-width: 959px) {
    .head h1{
        font-size: 40px;

    }
    .head h3{
        font-size: 15px;
    }
    .head ul li{
        font-size: 15px;
    }
    .text h1{
        font-size: 110px;
    }
    .text .text1 h1{
        text-shadow: #fad900 1px 0 10px;
        padding-top: 20px;
        padding-left: 30px;
    }
    .text h5{
        display: none;
    }
    .text .text2 h1{
        text-shadow: #fad900 1px 0 10px;
        padding-top: 5px;
        padding-left: 220px;
    }
    .text .text3 h1{
        padding-top: 5px;
    }
    .text .text3 #pic{
        width: 500px;
        height: 300px;
        padding-left: 230px;
    }
    .new h1{
        font-size: 85px;
    }
    .new h2{
        font-size: 25px;
    }
    .new .second{
        padding-left: 270px;
    }
    .new .third{
        padding-left: 230px;
    }
    .new .fourth{
        padding-left: 310px;
    }
    .new .fifth{
        padding-left: 290px;
    }
    .smth{
     box-sizing: border-box;
       display: flex;
}
.smth h1{
    font-size: 85px;
    padding-left: 60px;
     line-height: 45px;
}
.btn h1{
    display: none;
}
      .btn button {
        width: 220px;
        height: 220px;
      }

.textph{
    box-sizing: border-box;
    display: flex;
}
.textph img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 190px;
}
.textph h1{
    font-size: 40px;
    text-align: center;
}
    .texttt h1{
        font-size: 30px;
    }
    .texttt ul li{
    font-size: 17px;
    }
    .hrbut{
    position: relative; 
    margin-top: 300px; 
    margin-right: 800px;
}
    }




@media (max-width: 639px) {
    .head h1{
        font-size: 20px;

    }
    .head h3{
        font-size: 10px;
    }
    .head ul li{
        font-size: 10px;
    }
    .text h1{
        font-size: 60px;
    }
    .text .text1{
        height: 80px;
    }
    .text .text2{
        height: 65px;
    }
    .text .text1 h1{
        text-shadow: #fad900 1px 0 10px;
        padding-top: 16px;
        padding-left: 72px;
    }
    .text h5{
        display: none;
    }
    .text .text2 h1{
        text-shadow: #fad900 1px 0 10px;
        padding-left: 65px;
    }
    .text .text3 h1{
        padding-top: 5px;
    }
    .text .text3 #pic{
        width: 500px;
        height: 300px;
        padding-left: 25px;
    }
    .new h1{
        font-size: 65px;
    }
    .new h2{
        font-size: 20px;
    }
    .new .first{
        padding-left: 165px;
    }
    .new .first h2{
        padding-top: 17px;
    }
    .new .second{
        padding-left: 150px;
    }
    .new .second h2{
        padding-top: 9px;
    }
    .new .third{
        padding-left: 50px;
    }
    .new .third h2{
        padding-top: 16px;
    }
    .new .fourth{
        padding-left: 127px;
    }
    .new .fourth h2{
        padding-top: 17px;
    }
    .new .fifth{
        padding-left: 120px;
    }
    .new .fifth h2{
        padding-top: 32px;
    }
    .smth{
       display: flex;
}
.smth h1{
    display: none;
}

      .btn button {
        width: 230px;
        height: 230px;
        margin-left: 120px;
      }
      .btn button:hover {
        background: black;
        color: white;
      }

.textph{
    box-sizing: border-box;
    display: flex;
}
.textph img{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.textph h1{
    font-size: 55px;
}
    .texttt h1{
        font-size: 30px;
    }
    .texttt ul li{
    font-size: 15px;
    }
    .btn h1{
        display: inline;
        font-size: 62px;
       margin-top: 40px;
    }
}
